body{
    background: linear-gradient(to right, #3a7fd5, #6ebce2);
    display: flex;
}
#numbers{
    margin:20px;
}
#number0{
    margin-bottom: 20px;
}
.boton{
    border-radius: 6px;
}
.content{
    background:#ffff;
    width: 500px;
    height: 300px;
    padding: 20px;
    opacity: 80%;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;
    border-radius: 10px;
}
.boton{
    margin-top: 10px;
}
#tabla{
    margin-left: 30px;  
}